<section class="row">
  <div class="col-sm-8">
    <h2 class="table-heading">Recent Requests</h2>
    <sortable-table
      data="$ctrl.recentRequests"
      field-list="[{relatedUserName: 'Requestor'}, 'type', 'description', 'priority']"
      is-loading="$ctrl.loadingRequests"
      character-limit="60"
      on-click-row="$ctrl.onClickRow(id)">
    </sortable-table>
  </div>

  <div class="col-sm-4">
    <h2 class="table-heading">Recent Comments</h2>
    <sortable-table
      data="$ctrl.recentComments"
      field-list="[{body: 'Comment'}]"
      is-loading="$ctrl.loadingComments"
      character-limit="40"
      on-click-row="$ctrl.onClickRow(id)">
    </sortable-table>
  </div>
</section>