<section class="row">
  <div class="hero clearfix">
    <div class="col-md-8 col-md-offset-2">
      <div class="col-sm-4">
        <div class="circle">
          <span class="circle__number">{{ $ctrl.openRequests || '...' }}</span>
          <h3 class="circle__text">Open</h3>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="circle">
          <span class="circle__number">{{ $ctrl.inProgresRequests || '...' }}</span>
          <h3 class="circle__text">In Progress</h3>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="circle">
          <span class="circle__number">{{ $ctrl.completeRequests || '...' }}</span>
          <h3 class="circle__text">Completed</h3>
        </div>
      </div>
    </div>
  </div>
</section>