<section class="row">
  <a ui-sref="app.requestEditor" class="btn btn-info pull-right margin-bottom">
    New Request&nbsp;
    <i class="fa fa-angle-down"></i>
  </a>

  <div class="hero clearfix">
    <h1 class="hero__title text-center">AIS Feature Request Portal</h1>
    <div class="col-md-8 col-md-offset-2">
      <div class="col-sm-4">
        <div class="circle">
          <span class="circle__number">{{ $ctrl.openRequests || '...' }}</span>
          <a ui-sref="app.requests({filter: 'Open'})" class="circle__text">Open</a>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="circle">
          <span class="circle__number">{{ $ctrl.inProgresRequests || '...' }}</span>
          <a ui-sref="app.requests({filter: 'In Progress'})" class="circle__text">In Progress</a>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="circle">
          <span class="circle__number">{{ $ctrl.completeRequests || '...' }}</span>
          <a ui-sref="app.requests({filter: 'Complete'})" class="circle__text">Complete</a>
        </div>
      </div>
    </div>
  </div>
</section>