<section class="row">
  <div class="hero clearfix">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
      <!-- <h1 class="text-center">{{ $ctrl.title }}</h1> -->
      <h1 class="text-center">Submit to sign in as a test user</h1>

      <p class="text-center">
        <a ui-sref="app.login" ng-show="$ctrl.authType == 'register'">
          Have an account?
        </a>
        <a ui-sref="app.register" ng-show="$ctrl.authType == 'signIn'">
          Need an account?
        </a>
      </p>

      <form name="authForm" ng-submit="$ctrl.submit($ctrl.formData)">
        <fieldset ng-disabled="$ctrl.isSubmitting">

          <fieldset class="form-group">
            <label for="email" class="control-label">Email</label>
            <input
              id="email"
              name="email"
              class="form-control"
              type="text"
              ng-model="$ctrl.formData.email"
              ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"
              autofocus
              required/>
          </fieldset>

          <fieldset class="form-group">
            <label for="password" class="control-label">Password</label>
            <input
              id="password"
              name="password"
              class="form-control"
              type="password"
              ng-model="$ctrl.formData.password"
              ng-minlength="6"
              ng-maxlength="12"
              required/>
          </fieldset>

          <fieldset class="form-group" ng-if="$ctrl.authType == 'register'">
            <label for="confirmPassword" class="control-label">Confirm Password</label>
            <input
              id="confirmPassword"
              name="confirmPassword"
              class="form-control"
              ng-model="$ctrl.formData.confirmPassword"
              type='password'
              ng-minlength="6"
              ng-maxlength="12"
              equals="{{$ctrl.formData.password}}"
              required
              >
          </fieldset>

          <fieldset class="form-group">
            <button
              type="submit"
              class="btn btn-info btn-block"
              ng-disabled="authForm.$invalid">
              {{ $ctrl.title }}
            </button>
          </fieldset>

        </fieldset>
      </form>

    </div>
  </div>
</section>

<div class="validation-errors" ng-show="$ctrl.authType == 'signIn' && authForm.$invalid">
  <span class="user-error" ng-show="authForm.email.$error.required">
    Email Required.
  </span>
  <span class="user-error" ng-show="authForm.email.$error.pattern">
    Email must be valid format.
  </span>
  <span class="user-error" ng-show="authForm.password.$error.required">
    Password Required.
  </span>
  <span class="user-error" ng-show="authForm.password.$error.minlength || authForm.password.$error.maxlength">
    Passwords must be between 6-12 characters.
  </span>
</div>

<div class="validation-errors" ng-show="$ctrl.authType == 'register' && authForm.$invalid">
  <span class="user-error" ng-show="authForm.email.$error.required">
    Email Required.
  </span>
  <span class="user-error" ng-show="authForm.email.$error.pattern">
    Email must be valid email format.
  </span>
  <span class="user-error" ng-show="authForm.password.$error.required">
    Password Required.
  </span>
  <span class="user-error" ng-show="authForm.confirmPassword.$error.required">
    Confirm Password Required.
  </span>
  <span class="user-error"
    ng-show="
      authForm.password.$error.minlength ||
      authForm.password.$error.maxlength ||
      authForm.confirmPassword.$error.minlength ||
      authForm.confirmPassword.$error.maxlength"
    >
    Passwords must be at between 6-12 characters.
  </span>
  <span class="user-error" ng-show="authForm.password.$error.equals">
    Passwords do not match.
  </span>
</div>