<span class="spinner" ng-if="$ctrl.isLoading"></span>

<table class="table sortable-table" ng-if="!$ctrl.isLoading">
  <thead>
    <tr>
      <th
        class="sortable-table__th"
        ng-repeat="(fieldName, column) in $ctrl.columns"
        ng-click="$ctrl.sortTable(fieldName)">
        <span class="sortable-table__th-wrapper">
          {{ column }}
          <i class="sortable-table__th-icon" ng-class="$ctrl.getSortClass(fieldName)"></i>
        </span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in $ctrl.rows | orderBy:$ctrl.sortOn:$ctrl.sortReverse">
      <td ng-repeat="value in row">{{ value | limitTo:$ctrl.characterLimit }}{{ value.length > $ctrl.characterLimit ? "..." : "" }}</td>
    </tr>
  </tbody>
</table>