.sortable-table {
  .sortable-table__th {
    cursor: pointer;
    padding-right: 2.5rem;
  }

  .sortable-table__th-wrapper {
    position: relative;
  }

  .sortable-table__th-icon {
    position: absolute;
    right: -1.5rem;
    top: .25rem;
  }
}
