@import 'variables';

.form-control {
  font-size: 16px;
  padding: .8rem 1.4rem;
  border: 2px solid $light-grey;
  border-radius: 2px;
  box-shadow: none;
  height: initial;
}
.form-control:focus {
  box-shadow: 0 1px 5px $light-grey;
}

.btn {
  font-size: 1.6rem;
  padding: .8rem 2rem;
  border-radius: 2px;
}

select.form-control {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
select::-ms-expand {
  display: none;
}

.select-wrapper {
  position: relative;
}
.select-wrapper::after {
  position: absolute;
  content: "\f0dc";
  font-family: 'FontAwesome';
  left: calc(100% - 2rem);
  top: 1.2rem;
  font-size: 1.4rem;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list__item {
  font-size: 1.4rem;
  padding: .6rem 4rem .6rem 1rem;
  border: 2px solid $light-grey;
  border-bottom: none;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
}
.list__item:last-child {
  border-bottom: 2px solid $light-grey;
}

.list__item__delete {
  position: absolute;
  right: 0;
  top: 0;
  color: lighten($brand-danger, 15);
  padding: 1rem;
  height: 100%;
  line-height: 1;
  background: white;
}
.list__item__delete:hover {
  color: $brand-danger;
  cursor: pointer;
}