<div class="user-container">
  <div class="twelve columns form-container center-text right">
    <form name="profileForm" ng-submit="authService.changePassword(user)" novalidate>
      <h3>Change Password</h3>
      <div class="row">
        <label for="currentPassword">Current Password</label>
        <input
          id='oldPassword'
          name="oldPassword"
          class="u-full-width"
          type='password'
          ng-model="user.oldPassword"
          ng-minlength="6"
          ng-maxlength="12"
          required>
      </div>

      <div class="row">
        <label for="newPassword">New Password</label>
        <input
          id="newPassword"
          name="newPassword"
          class="u-full-width"
          ng-model="user.newPassword"
          type='password'
          ng-minlength="6"
          ng-maxlength="12"
          equals="{{user.confirmPassword}}"
          required
          >
      </div>
      <div class="row">
        <label for="confirmPassword">Confirm Password</label>
        <input
          id="confirmPassword"
          name="confirmPassword"
          class="u-full-width"
          ng-model="user.confirmPassword"
          type='password'
          ng-minlength="6"
          ng-maxlength="12"
          equals="{{user.newPassword}}"
          required
          >
      </div>

      <a ui-sref="dashboard" class="button">Cancel</a>
      <button id="changePassword" class="button-primary form-button" ng-disabled="profileForm.$invalid">
        Change Password
      </button>
    </form>
  </div>
</div>

<div class="validation-errors" ng-show="profileForm.$invalid">
  <label class="user-error" ng-show="profileForm.oldPassword.$error.required">
    Current Password Required.
  </label>
  <label class="user-error" ng-show="profileForm.newPassword.$error.required">
    New Password Required.
  </label>
  <label class="user-error" ng-show="profileForm.confirmPassword.$error.required">
    Confirm Password Required.
  </label>
  <label class="user-error" ng-show="profileForm.newPassword.$error.equals">
    Passwords do not match.
  </label>
  <label class="user-error"
    ng-show="
      profileForm.oldPassword.$error.minlength ||
      profileForm.newPassword.$error.minlength ||
      profileForm.confirmPassword.$error.minlength ||
      profileForm.oldPassword.$error.maxlength ||
      profileForm.newPassword.$error.maxlength ||
      profileForm.confirmPassword.$error.maxlength"
    >
    Passwords must be at between 6-12 characters.
  </label>
</div>
