<div class="row">
  <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
    <h1 class="text-center">Sign In</h1>

    <form name="loginForm" ng-submit="authService.login(user)">
      <fieldset>

        <fieldset class="form-group">
          <label for="email" class="control-label">Email</label>
          <input
            id="email"
            name="email"
            class="form-control"
            type="text"
            ng-model="user.email"
            ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"
            required/>
        </fieldset>

        <fieldset class="form-group">
          <label for="password" class="control-label">Password</label>
          <input
            id="password"
            name="password"
            class="form-control"
            type="password"
            ng-model="user.password"
            ng-minlength="6"
            ng-maxlength="12"
            required/>
        </fieldset>

        <fieldset class="form-group">
          <button
            type="submit"
            class="btn btn-info btn-block"
            ng-disabled="loginForm.$invalid">
            Sign In
          </button>
        </fieldset>

      </fieldset>
    </form>


  </div>
</div>

<div class="validation-errors" ng-show="loginForm.$invalid">
  <span class="user-error" ng-show="loginForm.email.$error.required">
    Email Required.
  </span>
  <span class="user-error" ng-show="loginForm.email.$error.pattern">
    Email must be valid format.
  </span>
  <span class="user-error" ng-show="loginForm.password.$error.required">
    Password Required.
  </span>
  <span class="user-error" ng-show="loginForm.password.$error.minlength || loginForm.password.$error.maxlength">
    Passwords must be between 6-12 characters.
  </span>
</div>