@import '../styles/variables';

#alert-flyover{
	font-size: 1.4rem;
	font-weight: 200;
	color: white;
	padding: 1rem;
	position: fixed;
	right: 0;
	bottom: 2rem;
	width: 30rem;
	border-radius: 4px 0px 0px 4px;
	transform: translateX(300px);
	z-index: 1050;
	transition: transform .6s ease-out 0s;
}

#alert-flyover.in{
	transform: translateX(0);
}

#alert-flyover.error{
	background-color: $brand-danger;
}

#alert-flyover.success{
	background-color: $brand-success;
}

.validation-errors{
	position: absolute;
	left: 0px;
	bottom: 1rem;
	width: 30rem;
  font-size: 1.4rem;
  font-weight: 200;
	text-align: left;
}

.user-error{
  display: block;
  margin-bottom: 1rem;
	width: 100%;
	background-color: $brand-info;
	padding: 1rem 1rem 1rem 4rem;
	color: white;
	border-radius: 0px 4px 4px 0px;
}