<section class="row">
  <div class="col-sm-8 col-sm-offset-2">

    <form name="requestForm" ng-submit="$ctrl.submit()" novalidate>
      <fieldset ng-disabled="$ctrl.isSubmitting">

        <!-- TODO: Create a component for a custom-styled select box -->
        <fieldset class="form-group col-xs-12">
          <label for="type" class="control-label">Request Type</label>
          <div class="select-wrapper">
            <select
              name="type"
              id="type"
              class="form-control"
              ng-model="$ctrl.request.type"
              required>
              <option value="New Feature">New Feature</option>
              <option value="Bug Fix">Bug Fix</option>
              <option value="Change/Update">Change/Update</option>
              <option value="Other">Other</option>
            </select>
          </div>
        </fieldset>

        <fieldset class="form-group col-xs-12">
          <label for="priority" class="control-label">Priority</label>
          <input type="text" class="form-control" ng-model="$ctrl.request.priority" required>
        </fieldset>

        <fieldset class="form-group col-xs-12">
          <label for="description" class="control-label">Description</label>
          <textarea
            rows="3"
            class="form-control"
            placeholder="Enter the details of your request here..."
            ng-model="$ctrl.request.description"
            required></textarea>
        </fieldset>

        <fieldset class="form-group col-sm-7">
          <label for="attachments" class="control-label">File Attachments</label>
          <file-uploader on-file-read="$ctrl.handleFileRead(file)"></file-uploader>
        </fieldset>

        <fieldset class="form-group col-sm-5">
          <label>Attached Files:</label>
          <p class="attention">Attachments are not saved until you click 'Submit'</p>
          <ul class="list">
            <li class="list__item" ng-repeat="attachment in $ctrl.request.attachments" title="{{ attachment.file.filename }}">
              {{ attachment.file.filename }}
              <i class="list__item__delete fa fa-close" ng-click="$ctrl.removeAttachment(attachment, $index)"></i>
            </li>
          </ul>
        </fieldset>

        <fieldset class="form-group col-xs-12">
          <button type="submit" class="btn btn-info btn-block" ng-disabled="requestForm.$invalid">Submit</button>
        </fieldset>

      </fieldset>
    </form>

    <div class="col-xs-12">
      <comments data="$ctrl.comments" request-id="$ctrl.request.id"></comments>
    </div>

  </div>
</section>