<section class="row">
  <div class="col-sm-12">
    <ul class="filter-list">
      <li class="filter-list__item"
        ng-repeat="filter in $ctrl.filters"
        ng-class="{active: $ctrl.activeFilter === filter}"
        ng-click="$ctrl.filter(filter)">{{ filter }}</li>
    </ul>

    <a ui-sref="app.requestEditor" class="btn btn-info pull-right">
      New Request&nbsp;
      <i class="fa fa-angle-down"></i>
    </a>
  </div>

  <div class="col-sm-12">
    <sortable-table
      data="$ctrl.activeRequests"
      field-list="[{relatedUserName: 'Requestor'}, 'type', 'description', 'priority', 'status', 'dateCreated']"
      is-loading="$ctrl.isLoading"
      character-limit="100">
    </sortable-table>
  </div>
</section>