<div class="container">
	<h5>Recent Activities</h5>
	<hr>
	<table class="table u-full-width">
		<thead>
			<th></th>
			<th>Customer Name</th>
			<th>Type</th>
			<th>Date</th>
			<th></th>
		</thead>
		<tbody id="activities">
		</tbody>
	</table>

	<table id="templates" class="table" style="display:none">
		<tr id="activityTemplate">
			<td class="number"></td>
			<td class="customerName"></td>
			<td class="type"></td>
			<td class="date"></td>
			<td><button class="button button-primary">View</button></td>
		</tr>
	</table>
</div>