<html>
	<head>
		<link rel="stylesheet" type="text/css" href="bundle.css">
	</head>

	<body>
    <div id="alert-flyover"></div>
    <div ng-controller="ApplicationController">
      <header>
        <div class="nav">
          <ul>
            <li class="logo">
              <img src="https://avatars2.githubusercontent.com/u/634423?v=3&s=200">
            </li>
            <li class="quickstart">
              <a ui-sref="dashboard">QUICKSTART</a>
            </li>

            <li class="action" ng-if="isLoggedIn"><a ng-click="logout()">Sign Out</a></li>
            <li class="action" ng-if="isLoggedIn"><a ui-sref="profile">Profile</a></li>
            <li id="signedInAs" class="action" ng-if="isLoggedIn"><span>Signed in as: {{currentUser.name}}</span></li>
          </ul>
        </div>
        <div class="sub-nav"></div>
      </header>

      <div ui-view></div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://s3.amazonaws.com/ais_libraries/BaseJS/4.8/base.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
    <script src="bundle.js"></script>
	</body>
</html>