@import '../styles/variables';

html,
body {
  height: 100%;
}

.container-fluid {
  flex-grow: 1;
  width: 100%;
  padding-left: 4rem;
  padding-right: 4rem;
}

.header {
  background: $dark-grey;
  color: $white;
  padding: 0 4rem;
  margin-bottom: 4rem;
  box-shadow: 0 .5rem 0 $primary-color;
}

.header__row {
  line-height: 4rem;
}

.header__link {
  position: relative;
  display: inline-block;
  font-size: 1.4rem;
  color: $light-grey;
  text-transform: uppercase;
  padding: .5rem 1rem;
  margin: 0 1rem;
  transition: color .1s;
}
.header__link:first-child { padding-left: 0; margin-left: 0; }
.header__link:last-child { padding-right: 0; margin-right: 0; }

.header__link:not(.no-hover):hover {
  cursor: pointer;
  color: $white;
}

.header__link.active,
.header__link.active:hover {
  color: $primary-color;
}

.header__icon {
  margin: 0 .5rem;
}

.header__img-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding-right: 1rem;
  margin-right: 1rem;
  border-right: 1px solid $light-grey;
  bottom: .35rem;
  transition: border-color .1s;
}
.header__img-wrapper:hover {
  border-color: $white;
}

.header__breadcrumbs {
  font-size: 3.8rem;
  font-weight: 200;
  line-height: 5rem;
  letter-spacing: -1px;
}