<div class="header container-fluid">
  <div class="row header__row text-right">
    <div class="col-sm-12">
      <span class="header__link">Advantage Integrated Solutions</span>
      <a ui-sref="app.profile" class="header__link">
        <i class="header__icon fa fa-user"></i>
        {{ $root.currentUser.name }}
        <!-- Cullen Jett -->
      </a>
    </div>
  </div>
  <div class="row header__row">
    <div class="col-sm-12">
      <span class="header__breadcrumbs">{{$root.pageTitle}}</span>
    </div>
  </div>
  <div class="row header__row">
    <div class="col-sm-12">
      <a ui-sref="app.dashboard" class="header__link">Dashboard</a>
      <span class="header__link">Requests</span>
    </div>
  </div>
</div>