<div class="header container-fluid">
  <div class="row header__row text-right">
    <div class="col-sm-12">
      <span class="header__link">Advantage Integrated Solutions</span>
      <span class="header__link">
        <i class="header__icon fa fa-user"></i>
        Cullen Jett
        <i class="header__icon fa fa-caret-down"></i>
      </span>
    </div>
  </div>
  <div class="row header__row">
    <div class="col-sm-12">
      <span class="header__breadcrumbs">Dashboard</span>
    </div>
  </div>
  <div class="row header__row">
    <div class="col-sm-12">
      <span class="header__link">Dashboard</span>
      <span class="header__link">Requests</span>
    </div>
  </div>
</div>