$dark-grey: #404040;
$light-grey: #999;
$white: #f9f9f9;
$brand-info: #5bc0de;

html,
body {
  height: 100%;
}

.container-fluid {
  flex-grow: 1;
  width: 100%;
  padding-left: 4rem;
  padding-right: 4rem;
}

.header {
  background: $dark-grey;
  color: $white;
  padding: 0 4rem;
  margin-bottom: 4rem;
  box-shadow: 0 .5rem 0 #5bc0de;
}

.header__row {
  line-height: 4rem;
}

.header__link {
  position: relative;
  display: inline-block;
  font-size: 1.4rem;
  color: $light-grey;
  text-transform: uppercase;
  padding: .5rem 1rem;
  margin: 0 1.5rem;
  cursor: pointer;
  transition: color .1s;
}
.header__link:first-child { margin-left: 0; }
.header__link:last-child { margin-right: 0; }

.header__link:hover {
  color: $white;
}

.header__link.active {
  color: $brand-info;
}

.header__icon {
  margin: 0 .5rem;
}

.header__img-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding-right: 1rem;
  margin-right: .5rem;
  border-right: 1px solid;
  bottom: .35rem;
}

.header__breadcrumbs {
  font-size: 3.8rem;
  font-weight: 200;
  line-height: 5rem;
  letter-spacing: -1px;
}